<header class="navbar">
    <div class="container">
        <nav class="site-nav">
            <ul>
        {% for nav in site.data.nav %}
            {% if include.active == nav.title %}
                <li class="current">
            {% else %}
                <li>
            {% endif %}
                    <a href="{{ nav.url }}">{{ nav.title }}</a>
                </li>
        {% endfor %}
            </ul>
        </nav>
<!--       <a href="/"><img src="/images/opencatslogo@2x.png" class="logo" alt="OpenCATS"></a> -->
           <a href="/"><img src="/logos/opencats-logo-1color.png" class="logo" alt="OpenCATS"></a>
    </div>
</header>
